---
name: about
url: /about
animationIn: fadeIn
---

<div class="grid-block">
  <div class="grid-content">
  <h1>About Trekker</h1>
  <hr>
  <p>On Trekker you'll find everything from easy day hikes to moderately strenuous hikes and extended
    overnight backpacking trips. We have thousands of nature trails, lake hikes and river hikes. Find hikes
    to viewpoints and mountain summits, urban hiking trails and backcountry treks &mdash; something for hikers
     of all abilities and experience levels.</p>

  <p>Every hiking trail is linked to a map and a trail overview page, which offers additional features
  like photos and trail reviews. <a ui-sref="home">Start browsing for trails</a> and find the perfect hiking
  trail near you!</p>


</div>
</div>
