---
name: home
url: /
animationIn: fadeIn
---

<div class="grid-block main-search align-center">
  <div class="grid-content medium-10">
  <h1>Find a Trail</h1>
  <p class="lead">Explore over 100,000 trails across the country.</p>
    <span class="inline-label">
    <input type="search" placeholder="Search a thing">
    <a href="#" ui-sref="results" class="button"><img zf-iconic="" icon="magnifying-glass" size="small">
</a>
  </span>
 </div>
</div>

<div class="grid-block">
  <div class="grid-content large-6">
    <h3> Discover the Outdoors! </h3>
    <p>Looking for a hiking trail near home? Trekker helps you rediscover the outdoors by providing you over 100,000 trails and reviews to explore.</p>
  </div>
  <div class="grid-content large-6">
    <h3>Add &amp; Share Trails</h3>
    <p>The trails on this site were contributed by hikers around the country. With Trekker you can add trails and share trails with friends.</p>
  </div>
</div>

<div class="grid-block">
  <div class="grid-content">
    <hr>
    <h4>Featured Trails</h4>
    <p>Each week we feature the top hiking, running, and biking trails in your area.</p>
     <p><a ui-sref="home.featured" class="button"> View Featured Trails in your area </a></p>
  </div>
</div>



<!-- Featured Trail View -->
<div ui-view></div>
